body, html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}